<div class="highlight" style="background: #f8f8f8"><pre style="line-height: 125%;"><span></span><span style="color: #3D7B7B; font-style: italic"># ThreadID: 139916369430080</span>
File: <span style="color: #BA2121">&quot;/home/thurston/projects/nspyre/src/nspyre/gui/widgets/_widget_update_thread.py&quot;</span>, line <span style="color: #666666">31</span>, <span style="color: #AA22FF; font-weight: bold">in</span> run
  <span style="color: #008000">self</span><span style="color: #666666">.</span>update_func()
File: <span style="color: #BA2121">&quot;/home/thurston/projects/nspyre/src/nspyre/gui/widgets/flex_line_plot.py&quot;</span>, line <span style="color: #666666">581</span>, <span style="color: #AA22FF; font-weight: bold">in</span> update
  time<span style="color: #666666">.</span>sleep(<span style="color: #666666">0.1</span>)

<span style="color: #3D7B7B; font-style: italic"># ThreadID: 139916377822784</span>
File: <span style="color: #BA2121">&quot;/home/thurston/miniconda3/envs/nsp/lib/python3.11/threading.py&quot;</span>, line <span style="color: #666666">995</span>, <span style="color: #AA22FF; font-weight: bold">in</span> _bootstrap
  <span style="color: #008000">self</span><span style="color: #666666">.</span>_bootstrap_inner()
File: <span style="color: #BA2121">&quot;/home/thurston/miniconda3/envs/nsp/lib/python3.11/threading.py&quot;</span>, line <span style="color: #666666">1038</span>, <span style="color: #AA22FF; font-weight: bold">in</span> _bootstrap_inner
  <span style="color: #008000">self</span><span style="color: #666666">.</span>run()
File: <span style="color: #BA2121">&quot;/home/thurston/projects/nspyre/src/nspyre/misc/stacktracer.py&quot;</span>, line <span style="color: #666666">64</span>, <span style="color: #AA22FF; font-weight: bold">in</span> run
  <span style="color: #008000">self</span><span style="color: #666666">.</span>stacktraces()
File: <span style="color: #BA2121">&quot;/home/thurston/projects/nspyre/src/nspyre/misc/stacktracer.py&quot;</span>, line <span style="color: #666666">77</span>, <span style="color: #AA22FF; font-weight: bold">in</span> stacktraces
  fout<span style="color: #666666">.</span>write(stacktraces())
File: <span style="color: #BA2121">&quot;/home/thurston/projects/nspyre/src/nspyre/misc/stacktracer.py&quot;</span>, line <span style="color: #666666">26</span>, <span style="color: #AA22FF; font-weight: bold">in</span> stacktraces
  <span style="color: #008000; font-weight: bold">for</span> filename, lineno, name, line <span style="color: #AA22FF; font-weight: bold">in</span> traceback<span style="color: #666666">.</span>extract_stack(stack):

<span style="color: #3D7B7B; font-style: italic"># ThreadID: 139917971011392</span>
File: <span style="color: #BA2121">&quot;/home/thurston/projects/template/src/template/app.py&quot;</span>, line <span style="color: #666666">70</span>, <span style="color: #AA22FF; font-weight: bold">in</span> <span style="color: #666666">&lt;</span>module<span style="color: #666666">&gt;</span>
  main()
File: <span style="color: #BA2121">&quot;/home/thurston/projects/template/src/template/app.py&quot;</span>, line <span style="color: #666666">63</span>, <span style="color: #AA22FF; font-weight: bold">in</span> main
  app<span style="color: #666666">.</span>exec()
File: <span style="color: #BA2121">&quot;/home/thurston/projects/nspyre/src/nspyre/gui/app.py&quot;</span>, line <span style="color: #666666">81</span>, <span style="color: #AA22FF; font-weight: bold">in</span> exec
  <span style="color: #008000">super</span>()<span style="color: #666666">.</span>exec(<span style="color: #666666">*</span>args, <span style="color: #666666">**</span>kwargs)
</pre></div>
